@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #aff4ff -278.56%,
    #6d6d6d -78.47%,
    #32047648 91.61%
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

html {
  background-color: #050613; 
}

body {
  background-color: #e5e7eb; 
}

.dark {
  background-color: #050613; 
}

body.dark {
  background-color: #050613; 
}

* {
  scroll-behavior: smooth;
}

.text-gradient1 {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 45.69%,
    #d3d3d3fc 10.89%,
    #5bb5beeb 42.04%,
    #ff95ba 71.54%,
    #ea195be2 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text-gradient2 {
  background: radial-gradient(
    64.18% 64.18% at 81.16% 35.69%,
    #a9f5fc -5.04%,
    #ff6abe 42.04%,
    #ff2e70 71.54%,
    #b534dc 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text-gradient3 {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #ffffff 0.89%,
    #ffffff 42.04%,
    #ebf9ff 71.54%,
    #bafcff 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.flex-item {
  flex: 1 1 auto;
  transition: flex 0.5s ease;
}

.blur-overlay {
  background-color: rgba(50, 50, 50, 0.4); /* Semi-transparent grey */
  padding: 20px; /* Optional: to add some padding */
  border-radius: 8px; /* Optional: rounded corners */
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    to bottom,
    #131621, /* Dark gray color at the top */
    rgba(48, 48, 48, 0.125) 100% /* Transparent color at the bottom */
  );
}

.bg-gray-gradient2 {
  background: linear-gradient(
    to right,
    #141827 0%, /* Dark gray color at the left */
    #141827 50%, /* Dark gray color at the left */
    rgba(20, 24, 39, 0) 100% /* Transparent color in the middle */
  );
}


.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
}
@media  screen and (max-width:800px) {
  .sidebar{
    z-index: 10000000;
  }
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.animate-black-hole {
  animation: black-hole-animation 2s ease-in-out infinite;
}

.card-container {
  perspective: 2000px; /* Set the perspective for 3D effect */
}

.card {
  transform-style: preserve-3d;
  backface-visibility: hidden;
  perspective: 1000px;
}

.card-front {
  display: flex;
  flex-direction: row;
  padding: 1.5rem;
  opacity: 1;
  border-radius: 20px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
}

.card-back {
  display: flex;
  flex-direction: row;
  padding: 1.5rem;
  opacity: 1;
  border-radius: 20px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
  transform: rotateY(180deg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  list-style-type: circle;
}

.feature-card-1 {
  background: var(--theme-color1);
  box-shadow: var(--card-shadow);
  border-radius: 20px;
}

.feature-card-2 {
  background: var(--theme-color2);
  box-shadow: var(--card-shadow);
  border-radius: 20px;
}

.feature-card-3 {
  background: var(--theme-color3);
  box-shadow: var(--card-shadow);
  border-radius: 20px;
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: linear-gradient(
    144.39deg,
    #1e319f -58.56%,
    #3c648d -50.47%,
    #2e1966 91.61%
  );
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(rgba(37, 49, 93, 0.5), rgba(80, 25, 98, 0.228));
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(rgba(15, 33, 200, 0.5), rgba(145, 30, 155, 0.6));
  filter: blur(900px);
}

.white__gradient {
  background: rgba(0, 0, 0, 0.3);
  filter: blur(550px);
}

.black__gradient {
  background: rgba(217, 217, 217, 0.22);
  filter: blur(750px);
}

.dim-layer {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: black;
  opacity: 0;
  pointer-events: none;
}

@keyframes sine-wave {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-sine-wave {
  animation: wave 2s linear infinite;
}

.spline {
  position: abosulte;
  margin: 0;
  top: 0;
  height: 600
}

.hr-centered {
  width: 75%; /* This sets the line to half the width of its container */
  border-top: 1px solid #ccc; /* Adjust the color and thickness as needed */
  margin-left: auto; /* Centers the line by pushing it equally from both sides */
  margin-right: auto;
}

.syntax-highlighter code {
  font-size: 1rem !important;
}

@media (max-width: 768px) {
  .syntax-highlighter code {
    font-size: 0.8rem !important; /* Adjust the font size as needed */
  }
}

.space-x-2 > * + * {
  margin-left: 0.5rem;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blink {
  50% { border-color: transparent }
}

.animate-typewriter {
  width: 0;
  animation: typing 2s steps(12) forwards, blink 0.7s step-end infinite;
}

@keyframes gradient-x {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animate-gradient {
  background-size: 300% 300%; /* make gradient larger than container */
  background-image: linear-gradient(
    270deg,
    #a855f7, /* purple-400 */
    #ec4899, /* pink-400 */
    #f87171  /* red-400 */
  );
  animation: gradient-x 6s ease infinite;
}

@keyframes gradient-x {
  0%, 100% {
    background-position: 0% 50%;
    background-size: 200% 200%;
  }
  50% {
    background-position: 100% 50%;
    background-size: 200% 200%;
  }
}

.animate-gradient-x {
  animation: gradient-x 3s ease infinite;
}